body {
    margin: 0;
    padding: 0;
    

}
html, body{
    height: 100%;
}
#backToTop{
    position: fixed;
    z-index: 10;
    right: 4%;
    bottom: 4%;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 17px;
    background: none;
    border: 2px solid red;
    border-radius: 30px;
    padding: 5px;
   


}
#backToTop:hover{
    transform: scale(1.1);
    cursor: pointer;
    


}

.backgroundImg {
    background-image: url("./assets/kyloNav.jpg");
    /* transform: scale(.6); */
    height: 700px;
    /* border: 1px solid red; */

}

.backgroundImg .navContainer {
    position: relative;
    /* border: 3px solid purple; */
}

.navContainer {
    height: 20%;
    width: 100%;
    /* how to say 100% of webview without reference to image*/
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px 0 #000000;
    backdrop-filter: blur(30px);


}

.backgroundImg h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 50px;
    position: absolute;
    top: 25%;
    left: 4%;

    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
    color: white;

}

.backgroundImg .navContainer ul {
    position: absolute;

    margin: 0;
    padding: 0;
    left: 32%;
    top: 35%;

    /* border: 1px solid orange; */
    /* color: white; */

}

.backgroundImg .navContainer ul li {
    font-family: 'Orbitron', sans-serif;
    font-weight: light;

    margin-right: 40px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 20px;
    /* border: 1px solid green; */
    list-style: none;
    /* must make inline into inline-block or block to use tranform: scale */
    display: inline-block;
    color: white;
}

.backgroundImg .navContainer ul li:hover {
    transform: scale(1.2);
    border: 2px solid red;
    color: red;
    /* transform scaling doesn't work */
    cursor: pointer;
}

.backgroundImg button {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    background-color: red;
    top: 37%;
    right: 4%;
    border-radius: 15px;
    margin: 0;
    padding: 10px;
    height: 40px;
    width: 130px;
    border: transparent;
    /* border: 1px solid red; */
    color: white;

}


.backgroundImg button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.aboutMe {

    /* border: 1px solid red; */
    position: relative;
    /* would we need to partition vh units?  */
    /* dont use % rather vh */
    top: -5vh;
    height: 85vh;
    /* 100 vh doesn't work if parent container is viewing Screen*/
    width: auto;
    /* background: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px 0 #000000;
    backdrop-filter: blur(30px); */
    background-color: rgb(0, 0, 0);

}

.aboutMe img {
    position: absolute;
    top: 15%;
    left: 25%;
    height: 400px;
    width: auto;
    /* border: 1px solid blue; */
    border-radius: 20px;

}

.aboutMe .aboutMeContent{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    /* border: 1px solid red; */
    color: white;
    width: 30%;
}
#colorRed{
    color: red;
}
.aboutMe .aboutMeContent h1{
    margin: 0;
    padding: 0;
    font-size: 35px;
    /* border: 1px solid green; */
}
.aboutMe .aboutMeContent h5 p{
    font-weight: 400;
}

/* a{
    text-decoration: none;
    color: white;
} */
.servicesSection{
    margin: 0;
    padding: 0;
    position: relative;
    /* since we add -5vh to first section we must add to all remaining sections */
    top: -10vh;
    /* border: 1px solid red; */
    height: 93vh;
    background-color: #151515;

}
.servicesSection h1{
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    /* border: 5px solid red; */
    text-align: center;
    color: white;
    left: 43.5%;
    top: 0%;
    padding-bottom: 20px;
    font-size: 40px;

    /* why does below shift entire section */
    /* margin-top: 50%; */
}


.servicesSection  h2{
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 25px;
    /* so who is the parent of this part now because  % doesn't work 
    or maybe because it is h1 tag
    or also because we didn't use position: absolute*/
    text-align: center;
    
}
.servicesSection img{
    position: relative;
    left: 38%;
    /* border: 1px solid blue; */
}

.servicesSection .battleship{
    /* border: 1px solid green; */
    width: 20%;
    /* display: inline-block; */
    position: absolute;
    top: 20%;
    left: 12.5%;
    background-color: rgb(40, 40, 40);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.servicesSection .delivery{
    /* border: 1px solid purple; */
    width: 20%;
    /* display: inline-block; */
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: rgb(40, 40, 40);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}
.servicesSection .catering{
    
    /* border: 1px solid fuchsia; */
    width: 20%;
    /* when trying to use inline block with all elements, there is a small margin on top l
    of catering */
    position: absolute;
    top: 20%;
    right: 12.5%;
    background-color: rgb(40, 40, 40);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}
.servicesSection p{
    text-align: center;
    /* border: 5px solid lightblue; */
    font-family: 'Orbitron', sans-serif;
    font-size: 13.25px;

    
}
.servicesSection section{
    position: absolute;

    height: 60%;
    top: 20% !important;
    color: pink;
    
}

.servicesSection button{
    /* border: 5px solid lightblue; */
    position: relative;
    top: 2.5%;
    left: 30%;

    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    background-color: red;
    border: transparent;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.servicesSection button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.learnMore{
    background-color: #0e0e0e;
    position: relative;
    height: 30vh;
    top: -15vh;
    /* border: 5px solid green; */
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    padding-top: 20px;
}

.learnMore button{
    /* border: 5px solid lightblue; */
    font-family: 'Orbitron', sans-serif;

    background-color: red;
    border: transparent;
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

.learnMore button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.inquire{
    position:relative;
    background-color: #131313;
    height: 70vh;
    top: -15vh;
    /* border: 3px solid blue; */
    color: white;
    text-align: left;
    

}
.formContainer{
    position: absolute;
    left: 37.5%;
    top: 10%;
    /* border: 1px solid green; */
    height: 80%;
    width: 25%;
    border-radius: 30px;
    background: linear-gradient(325deg, rgb(255, 147, 147) , rgb(255, 47, 47) 70%);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Orbitron', sans-serif;
    

}
.formContainer h1{
    position: relative;
    left: 11%;
    font-size: 30px;
    /* border: 1px solid black; */
    /* text-align: center*/
    
}
.formContainer span.underline{
    text-decoration: underline;
    color: black;
}
.formContainer li{
    margin-bottom: 10px;
    
}
.formContainer li input{
    border: transparent;
    border-radius: 10px;
    height: 30px;

    width: 83%;
    font-family: 'Orbitron', sans-serif;
}
.formContainer li:last-child input{
    height: 110px;
}
ul{
    margin-top: -10px;
    list-style: none;
    /* border: 1px solid green; */
}

.formContainer button{
    position: relative;
    /* border: 1px solid blue; */
    left: 38%;
    margin-top: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    background-color: red;
    border: transparent;
    border-radius: 15px;
    color: white;
    font-weight: 400;
}

.formContainer button:hover{
    transform: scale(1.1);
    cursor: pointer;

}
